*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: neon;
    src: url(/hellodenverdisplayregular_v1.6.ttf);
}
@font-face {
    font-family: neon2;
    src: url(/NEON\ GLOW-Light.otf);
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-size: 18px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-image: url(/images/5-2-stars-png-image.png) center;
    background-size: cover;
    background: #050505;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}
::-webkit-scrollbar{
    width: 8px;
    background: rgba(0, 0, 0, 0.904);
}
::-webkit-scrollbar-thumb{
    background: #ffffff;
    box-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
    background: #919090;
    box-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    border-radius: 6px;
}
nav{
    display: flex;
    justify-content: space-between;
    min-width: 100vw;
    height: 80px;
    padding-left: 30px;
    padding-right: 50px;
    padding-top: 20px;
    background: black;
}
.logonav img{
    max-width: 50px;
    margin-right: 20px;
    cursor: pointer;
}
.ul-left {
    margin-top: 10px;
}
.ul-left a{
    margin-left: 5px;
    font-size: 25px;
    list-style: none;
    text-decoration: none;
    color: #ffffff;
    font-family: neon2;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
}
.ul-right {
    
    margin-right: 20px;
}
.ul-right a{
    margin-left: 10px;
    list-style: none;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-family: neon2;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
}
.leftnav{
    display: flex;
    justify-content: space-between;

}
.hero{
    position: relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    width: 100%;
    max-height: 779px;
    background-size: cover;
    background-position: center;
    background-image: url(/images/background.png);
}
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #5c0a0f00;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    
  }

.hero .text{
    position: relative;
    display: flex;
    text-align: left;
    min-height: 100vh;
    padding-left: 100px;
    
}

.hero .text a{
    position: absolute;
    display: inline-block;
    top: 65%;
    margin-left: 20px;
    padding: 15px 30px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    background: #ff0aad11;
    z-index: 2000;
}
.hero .text a:hover{
    background: #660646;
    box-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646;
    transition-delay: 1s;
}
.hero .text a span{
    position: absolute;
    display: block;
}
.hero .text a span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(90deg,transparent,#660646);
}
.hero .text a:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}
.hero .text a span:nth-child(3){
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 3px;
    background: linear-gradient(270deg,transparent,#660646);
}
.hero .text a:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.hero .text a span:nth-child(2){
    top: -100%;
    right: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#660646);
}
.hero .text a:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.hero .text a span:nth-child(4){
    bottom: -100%;
    left: 0;
    width: 3px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#660646);
}
.hero .text a:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.hero .text h1{
    margin-top: 15%;
    margin-left: 20px;
    font-family: neon2;
    font-size: 60px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height:130%;
    
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
}
.project{
    
    background: url(/images/5-2-stars-png-image.png) center;
    width: 100%;
}
.project-title{
    box-shadow: /*0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646,*/
                 inset 0 0 5px #660646,
                 inset 0 0 10px #660646,
                 inset 0 0 20px #660646,
                 inset 0 0 40px #660646;
    text-align: center;
    width:80%;
    height: 100px;
    margin-left: 10%;
    padding-top: 30px;
    margin-top: 120px;
    border-radius: 20px;
}

.project-title h1{
    color: white;
    font-family: neon2;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    letter-spacing: 7px;
    font-size: 40px;
}
.about-title{
    position: relative;
    color: white;
    font-family: neon2;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    letter-spacing: 7px;
    font-size: 20px;
    margin-top: 15%;
    margin-left: 10%;
}
.about-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 10px;
}
.about-wrapper .logo2{
    width: 35%;
    height: 35%;
    margin-top: -100px;
}
.about-wrapper .corner{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.about-wrapper p{
    color: white;
    max-width: 600px;
    margin-top: 20px;
    padding-left: 25px;
    z-index: 2;
}

.benefits{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 80%;
    margin-left: 10%;
    margin-top: 100px;
}

.benefits .chakra{
    width: 35%;
    height: 35%;
    
}
.benefits p{
    position: absolute;
    color: white;
    max-width: 600px;
   top: 19%;
    
    padding-left: 25px;
    z-index: 2;
}
.textchakra{
    display: flex;
    height: auto;
   width: 600px;
    margin-top: 20px;
    position: relative;
    z-index: 2;
}
.corner2{
    position: absolute;
    top: 13%;
    left: 0;
    z-index: 1;
}
.chakra-title{
    max-width: 600px;
    text-align: left;
    position: absolute;
    color: white;
    font-family: neon2;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    letter-spacing: 7px;
    font-size: 20px;
    top: 0;
    left: 0;
}
#roadmap {
    color: white;
    min-height: fit-content;
    margin-top: 10%;
    background: url(/images/5-2-stars-png-image.png) center;
    width: 100%;
}

.top-section {
    text-align: center;
    max-width: 100%;
    padding-bottom: 10rem;
}

.roadmap-title{
    font-family: neon2;
    line-height: 50px;
    color: white;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    font-size: 50px;
}

.roadimg {
    position: relative;
    display: block;
    max-width: 30vw;
    max-height: 15vh;
    text-align: center;
    align-items: center;
}

#roadmap .top-section p{
    font-family: monte;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: black;
    font-size: 130%;
    margin-top: 0%;
}

.roadmapcontainer{
    padding-right: 2rem;
    padding-left: 2rem;
    padding-bottom: 100px;
    margin: 0 auto;
    max-width: 900px;
    height: 100%;
    text-align: center;
}

.timeline {
    position: relative;
    min-height: 150px;
}

.line {
    position:absolute;
    z-index: 1;
    left: 0;
    width: 5px;
    top: -50px;
    bottom: 50px;
    background-color: white;
    box-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    display: none;
}

.line:before,
.line:after {
    position: absolute;
    display: block;
    content: '';
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background:white;
    box-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    left: 50%;
    transform: translateX(-50%);
}

.line:after{
    bottom: 0;
}

.section{
    display: flex;
    opacity: 0;
    transform: translateX(-100%);
    transition: 600ms ease;
    position: relative;
    z-index: 1;
    margin: 2px 0;
    padding: 1rem;
    border-radius: 1rem;
    align-items: center;
    min-height: 200px;
}



.bead{
    position: absolute;
    display: block;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background:white;
    box-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    left: 0.3%;
    top: 20%;
    transform: translateX(-50%);
    z-index: 3;
}

.content{
    width: calc(100% - 2rem);
    font-size: 120%;
    text-align: left;
}

.content h2{
    font-family: neon2;
    line-height: 50px;
    color: white;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    font-size: 150%;
}
.content p span{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 550;
}

.show-me:nth-child(n){
    transform: none;
    opacity: 1;
}

.slider{
    height: 500px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}
.slide-track{
    display: flex;
    width: calc(250px * 10);
    animation: scroll 40s linear infinite;
}
/*.slide-track:hover{
    animation-play-state: paused;
}*/
@keyframes scroll{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-500px * 2));
    }
}
.slide{
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
video{
width: 100%;
transition: transform 1s;
}
video:hover{
    transform: translateZ(5px);
}

.slider:before,
.slider:after{
    background: linear-gradient(to right, #050505 0%, #05050500 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider::before{
    left: 0;
    top: 0;
}
.slider::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider2{
    height: 500px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
}
.slide-track2{
    margin-top: -200px;
    display: flex;
    margin-left: -1000px;
    width: calc(250px * 10);
    animation: scroll2 40s linear infinite;
}
/*.slide-track2:hover{
    animation-play-state: paused;
}*/
@keyframes scroll2{
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(500px * 2));
    }
}
.slide2{
    height: 400px;
    width: 500px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}
video{
width: 100%;
transition: transform 1s;
}
video:hover{
    transform: translateZ(5px);
}

.slider2:before,
.slider2:after{
    background: linear-gradient(to right, #050505 0%, #05050500 100%);
    content: '';
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
}

.slider2::before{
    left: 0;
    top: 0;
}
.slider2::after{
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.team{
    display: block;
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
    padding-top: 200px;
    background: url(/images/5-2-stars-png-image.png) center;
}
.teamrow{
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.teamcard{
    position: relative;
    display: block;
    text-align: center;
    line-height: 25px;
}
.teamcard img{
    max-width: 250px;
}
.teamcard h1{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-family: neon2;
}
.teamcard h3{
    color: white;
    text-align: center;
    font-size: 80%;
}
.teamcard a{
    color: white;
    font-size: 80%;
}
.team-title{
    font-family: neon2;
    line-height: 50px;
    color: white;
    text-shadow: 0 0 10px #660646,
                 0 0 20px #660646,
                 0 0 40px #660646,
                 0 0 80px #660646,
                 0 0 160px #660646;
    font-size: 30px;
}